{% extends 'main/main.html' %}
{% block content %}
<div class="wrapper row3" id="app">
  <main class="container clear">
      <table class="table">
          <tr>
              <td class="text-center" colspan="3">
                  <img :src="detail.poster" style="width:600px;height:200px">
              </td>
          </tr>
          <tr>
              <td class="text-center" colspan="3">
                  [[detail.title]]
              </td>
          </tr>
          <tr>
              <td class="text-center" colspan="3">
                  [[detail.content]]
              </td>
          </tr>
          <tr>
              <td class="text-center">[[detail.info1]]</td>
              <td class="text-center">[[detail.info2]]</td>
              <td class="text-center">[[detail.info3]]</td>
          </tr>
      </table>
      <table class="table">
          <caption><h3>재료</h3></caption>
          <tbody>
            <tr>
                <td>
                    <ul>
                     <li v-for="s in stuff">[[s]]</li>
                    </ul>
                </td>
            </tr>
          </tbody>
      </table>
      <table class="table">
          <caption><h3>레시피 제작법</h3></caption>
          <tr>
              <td>
                  <table class="table" v-for="re,index in make">
                      <tr>
                          <td class="text-left">[[re]]</td>
                          <td class="text-right">
                              <img :src="posters[index]" style="width:130px;height:100px">
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
      <table class="table">
        <tr>
           <td width="20%" rowspan="2">
               <img :src="detail.chef_poster" style="width:100px;height:100px">
           </td>
           <td width="80%">
               [[detail.chef]]
           </td>
        </tr>
        <tr>
            <td width="80%">[[detail.chef_profile]]</td>
        </tr>
        <tr>
            <td colspan="2" class="text-right">
                <a href="javascript:history.back()" class="btn btn-sm btn-danger">목록</a>
            </td>
        </tr>
      </table>
  </main>
</div>
<script>
    let detailApp=Vue.createApp({
       delimiters:['[[',']]'],
       data(){
         return {
            no:{{no}},
            detail:{},
            posters:[],
            make:[],
            stuff:[]
         }
       },
       mounted(){
         axios.get('http://localhost:8000/web/recipe/detail_vue/',{
           params:{
              no:this.no
           }
         }).then(res=>{
            console.log(res.data)
            this.detail=res.data.detail
            this.posters=res.data.posters
            this.make=res.data.make
            this.stuff=res.data.stuff
         })
       }
    }).mount("#app")
</script>
{% endblock %}